input {
    file {
        path => "/tmp/convStore_done.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter {
    csv {
        separator => ","
        columns => ['companyName', 'storeNumber', 'storeName', 'address', 'lat', 'lon']
    }
    mutate {
        convert => {"lat" => "float"}
        convert => {"lon" => "float"}
        rename => {"lat" => "[location][lat]"} 
        rename => {"lon" => "[location][lon]"}
    }
}
output {
    elasticsearch {
        hosts => "0.0.0.0"
        index => "conv"
        document_type => "taipei"
    }
    stdout {}
}