input {
    file {
        path => "/tmp/restaurant_open.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter {
    csv {
        separator => ","
        columns => ['name', 'district', 'address', 'lat', 'lon', 'status', 'type_one', 'type_two', 'price']
    }
    mutate {
        convert => {"lat" => "float"}
        convert => {"lon" => "float"}
        rename => {"lat" => "[location][lat]"} 
        rename => {"lon" => "[location][lon]"}
    }
}
output {
    elasticsearch {
        hosts => "0.0.0.0"
        index => "restaurant"
        document_type => "taipei"
    }
    stdout {}
}