input {
    file {
        path => "/tmp/taipeiAll.csv"
        start_position => "beginning"
        sincedb_path => "/dev/null"
    }
}
filter {
    csv {
        separator => ","
        columns => ['dealTime', 'district', 'vil', 'address', 'latitude', 'longitude', 
		'houseType', 'unitPrice', 'houseAge', 'special', 'houseArea', 'landArea', 'carPlace', 
		'neighbor', 'floor', 'floorSum']
    }
    mutate {
        convert => {"latitude" => "float"}
        convert => {"longitude" => "float"}
        rename => {"latitude" => "[location][lat]"} 
        rename => {"longitude" => "[location][lon]"}
    }
}
output {
    elasticsearch {
        hosts => "0.0.0.0"
        index => "taipeihouse"
        document_type => "taipei"
    }
    stdout {}
}